# Диплом

In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Энкодинг

In [69]:
df = pd.read_csv('preprocessed_df.csv')

In [70]:
df

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Market,Region,...,Discount,Profit,Shipping Cost,Order Priority,Price,Avg_Sales_Category,Avg_Sales_Country,Avg_Sales_Market,Avg_Sales_Region,Discount_value
0,234,2012-03-30,2012-04-01,First Class,Consumer,Cairo,Al Qahirah,Egypt,Africa,Africa,...,0.0,140.1600,399.96,Critical,637.350,467.858939,172.770678,170.868370,170.868370,0.0000
1,238,2014-12-23,2014-12-26,First Class,Consumer,Detroit,Michigan,United States,US,Central,...,0.0,412.5394,397.52,High,226.670,416.248905,229.858001,229.858001,253.872674,0.0000
2,239,2014-07-04,2014-07-04,Same Day,Home Office,Seattle,Washington,United States,US,West,...,0.2,209.5800,396.92,High,399.200,467.858939,229.858001,229.858001,226.493233,479.0400
3,240,2014-11-21,2014-11-23,First Class,Consumer,New York City,New York,United States,US,East,...,0.0,327.5922,394.57,Critical,419.990,467.858939,229.858001,229.858001,238.336110,0.0000
4,241,2013-01-23,2013-01-27,Standard Class,Consumer,Baku,Baki,Azerbaijan,EMEA,EMEA,...,0.0,946.6800,393.62,High,514.500,416.248905,194.190000,160.302508,160.302508,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,2014-06-19,2014-06-19,Same Day,Corporate,Kure,Hiroshima,Japan,APAC,North Asia,...,0.0,4.5000,0.01,Medium,13.020,121.097120,403.150068,325.917481,362.835663,0.0000
50806,51286,2014-06-20,2014-06-24,Standard Class,Consumer,Houston,Texas,United States,US,Central,...,0.8,-1.1100,0.01,Medium,0.444,121.097120,229.858001,229.858001,253.872674,0.3552
50807,51287,2013-12-02,2013-12-02,Same Day,Home Office,Oxnard,California,United States,US,West,...,0.0,11.2308,0.01,High,7.640,121.097120,229.858001,229.858001,226.493233,0.0000
50808,51288,2012-02-18,2012-02-22,Standard Class,Home Office,Valinhos,São Paulo,Brazil,LATAM,South,...,0.0,2.4000,0.00,Medium,6.720,121.097120,225.832657,210.278334,240.919043,0.0000
50809,51289,2012-05-22,2012-05-26,Second Class,Consumer,Tipitapa,Managua,Nicaragua,LATAM,Central,...,0.0,1.8000,0.00,High,20.460,121.097120,243.790007,210.278334,253.872674,0.0000

Выведем еще раз разбиение фичей на категориальные и числовые. Также выведем количества уникальных значений.

In [71]:
categorical = ['Ship Mode',
               'Segment',
               'City',
               'State',
               'Country',
               'Market',
               'Region',
               'Category',
               'Sub-Category',
               'Order Priority']

In [72]:
numerical = ['Sales',
             'Quantity',
             'Discount',
             'Profit',
             'Shipping Cost',
             'Avg_Sales_Category',
             'Avg_Sales_Country',
             'Avg_Sales_Market',
             'Avg_Sales_Region',
             'Discount_value',
             'Price']

In [73]:
df[categorical].nunique()

Ship Mode            4
Segment              3
City              3631
State             1093
Country            147
Market               7
Region              13
Category             3
Sub-Category        17
Order Priority       4
dtype: int64

Уникальных значений в поле City слишком много для кодировки, поэтому его тоже следует убрать.

In [74]:
categorical = ['Ship Mode', 'Segment', 'State', 'Country', 'Market', 'Region', 'Category', 'Sub-Category', 'Order Priority']
df.drop(['City'], axis=1, inplace=True)

Выберем вариант кодировки для каждой категориальной фичи.

In [75]:
df['Ship Mode'].unique() # Label Encoding

array(['First Class', 'Same Day', 'Standard Class', 'Second Class'],
      dtype=object)

In [76]:
df['Segment'].unique() # OneHot Encoding

array(['Consumer', 'Home Office', 'Corporate'], dtype=object)

In [77]:
df['State'].unique() # OneHot Encoding

array(['Al Qahirah', 'Michigan', 'Washington', ..., 'Manicaland',
       'Kabarole', 'Matabeleland North'], dtype=object)

In [78]:
df['Country'].unique() # OneHot Encoding

array(['Egypt', 'United States', 'Azerbaijan', 'Indonesia', 'France',
       'Argentina', 'India', 'Lesotho', 'China', 'Brazil', 'Nicaragua',
       'Austria', 'Mexico', 'Australia', 'United Kingdom', 'Spain',
       'Vietnam', 'Cuba', 'Romania', 'New Zealand', 'Cameroon', 'Russia',
       'South Africa', 'Guatemala', 'Germany', 'Hungary', 'Italy',
       'Philippines', 'Singapore', 'Angola', 'Japan', 'El Salvador',
       'Malaysia', 'Belgium', 'Finland', 'Colombia', 'Ghana', 'Thailand',
       'Iran', 'Ukraine', 'Mozambique', 'Zambia', 'Liberia', 'Georgia',
       'Poland', 'Switzerland', 'Albania', 'Bangladesh', 'Chad',
       'Pakistan', 'Namibia', 'Netherlands', 'Dominican Republic',
       'Madagascar', 'Morocco', 'Saudi Arabia', 'Canada', 'Sweden',
       'Myanmar (Burma)', 'Jamaica', 'Qatar',
       'Democratic Republic of the Congo', 'Tanzania',
       'Republic of the Congo', 'Norway', 'Iraq', 'Algeria', 'Turkey',
       'South Korea', 'Estonia', "Cote d'Ivoire", 'Honduras', 'Paraguay',
       'Czech Republic', 'Central African Republic', 'Benin', 'Bolivia',
       'Chile', 'Martinique', 'Taiwan', 'Syria', 'Lebanon', 'Cambodia',
       'Kenya', 'Afghanistan', 'Mali', 'Libya', 'Venezuela',
       'Trinidad and Tobago', 'Ireland', 'Bulgaria', 'Panama', 'Israel',
       'Nigeria', 'Haiti', 'Ecuador', 'Barbados', 'Senegal', 'Slovenia',
       'Uruguay', 'Togo', 'Mauritania', 'Belarus', 'Guinea', 'Rwanda',
       'Portugal', 'Denmark', 'Niger', 'Papua New Guinea', 'Mongolia',
       'Sudan', 'Peru', 'Somalia', 'Sierra Leone',
       'Bosnia and Herzegovina', 'Guinea-Bissau', 'Djibouti', 'Tunisia',
       'Croatia', 'Hong Kong', 'Nepal', 'Lithuania', 'Guadeloupe',
       'Kyrgyzstan', 'Uzbekistan', 'South Sudan', 'Gabon', 'Bahrain',
       'Yemen', 'Montenegro', 'Jordan', 'United Arab Emirates', 'Moldova',
       'Swaziland', 'Turkmenistan', 'Zimbabwe', 'Kazakhstan', 'Ethiopia',
       'Uganda', 'Slovakia', 'Sri Lanka', 'Tajikistan', 'Burundi',
       'Macedonia', 'Eritrea', 'Equatorial Guinea', 'Armenia'],
      dtype=object)

In [79]:
df['Market'].unique() # OneHot Encoding

array(['Africa', 'US', 'EMEA', 'APAC', 'EU', 'LATAM', 'Canada'],
      dtype=object)

In [80]:
df['Region'].unique() # OneHot Encoding

array(['Africa', 'Central', 'West', 'East', 'EMEA', 'Southeast Asia',
       'South', 'Central Asia', 'North Asia', 'North', 'Oceania',
       'Caribbean', 'Canada'], dtype=object)

In [81]:
df['Category'].unique() # OneHot Encoding

array(['Technology', 'Furniture', 'Office Supplies'], dtype=object)

In [82]:
df['Sub-Category'].unique() # OneHot Encoding

array(['Phones', 'Chairs', 'Machines', 'Tables', 'Bookcases', 'Copiers',
       'Appliances', 'Accessories', 'Binders', 'Storage', 'Supplies',
       'Furnishings', 'Art', 'Paper', 'Envelopes', 'Fasteners', 'Labels'],
      dtype=object)

In [83]:
df['Order Priority'].unique() # Label Encoding

array(['Critical', 'High', 'Medium', 'Low'], dtype=object)

In [84]:
ohe_features = ['Segment', 'State', 'Country', 'Market', 'Region', 'Category', 'Sub-Category']
label_features = ['Ship Mode', 'Order Priority']

## OneHot Encoding

In [85]:
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_columns = encoder.fit_transform(df[ohe_features])
encoded_col_names = encoder.get_feature_names_out(ohe_features)
df_ohe_encoded = pd.DataFrame(encoded_columns, columns=encoded_col_names, index=df.index)
df_encoded = df.drop(columns=ohe_features).join(df_ohe_encoded)

df_encoded

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,234,2012-03-30,2012-04-01,First Class,1274.700,2,0.0,140.1600,399.96,Critical,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,238,2014-12-23,2014-12-26,First Class,1586.690,7,0.0,412.5394,397.52,High,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,239,2014-07-04,2014-07-04,Same Day,2395.200,6,0.2,209.5800,396.92,High,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,240,2014-11-21,2014-11-23,First Class,1259.970,3,0.0,327.5922,394.57,Critical,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,241,2013-01-23,2013-01-27,Standard Class,2058.000,4,0.0,946.6800,393.62,High,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,2014-06-19,2014-06-19,Same Day,65.100,5,0.0,4.5000,0.01,Medium,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50806,51286,2014-06-20,2014-06-24,Standard Class,0.444,1,0.8,-1.1100,0.01,Medium,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50807,51287,2013-12-02,2013-12-02,Same Day,22.920,3,0.0,11.2308,0.01,High,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50808,51288,2012-02-18,2012-02-22,Standard Class,13.440,2,0.0,2.4000,0.00,Medium,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50809,51289,2012-05-22,2012-05-26,Second Class,61.380,3,0.0,1.8000,0.00,High,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

## Label Encoding

In [86]:
label_encoders = {}
for col in label_features:
    le = LabelEncoder()
    df_encoded[col] = le.fit_transform(df_encoded[col])
    label_encoders[col] = le

df_encoded

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,234,2012-03-30,2012-04-01,0,1274.700,2,0.0,140.1600,399.96,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,238,2014-12-23,2014-12-26,0,1586.690,7,0.0,412.5394,397.52,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,239,2014-07-04,2014-07-04,1,2395.200,6,0.2,209.5800,396.92,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,240,2014-11-21,2014-11-23,0,1259.970,3,0.0,327.5922,394.57,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,241,2013-01-23,2013-01-27,3,2058.000,4,0.0,946.6800,393.62,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,2014-06-19,2014-06-19,1,65.100,5,0.0,4.5000,0.01,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50806,51286,2014-06-20,2014-06-24,3,0.444,1,0.8,-1.1100,0.01,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50807,51287,2013-12-02,2013-12-02,1,22.920,3,0.0,11.2308,0.01,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50808,51288,2012-02-18,2012-02-22,3,13.440,2,0.0,2.4000,0.00,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50809,51289,2012-05-22,2012-05-26,2,61.380,3,0.0,1.8000,0.00,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

## Standart Scaler

In [87]:
df_encoded_scaled = df_encoded.copy()

scaler = StandardScaler()

df_encoded_scaled[numerical] = scaler.fit_transform(df_encoded_scaled[numerical])

df_encoded_scaled

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,234,2012-03-30,2012-04-01,0,2.990438,-0.642117,-0.673429,1.006289,8.953183,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,238,2014-12-23,2014-12-26,0,3.874441,1.581116,-0.673429,3.384700,8.895208,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,239,2014-07-04,2014-07-04,1,6.165302,1.136470,0.269444,1.612463,8.880952,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,240,2014-11-21,2014-11-23,0,2.948701,-0.197470,-0.673429,2.642943,8.825115,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,241,2013-01-23,2013-01-27,3,5.209868,0.247177,-0.673429,8.048805,8.802543,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,2014-06-19,2014-06-19,1,-0.436886,0.691823,-0.673429,-0.178292,-0.549711,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50806,51286,2014-06-20,2014-06-24,3,-0.620085,-1.086763,3.098064,-0.227278,-0.549711,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50807,51287,2013-12-02,2013-12-02,1,-0.556400,-0.197470,-0.673429,-0.119519,-0.549711,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50808,51288,2012-02-18,2012-02-22,3,-0.583261,-0.642117,-0.673429,-0.196629,-0.549948,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50809,51289,2012-05-22,2012-05-26,2,-0.447426,-0.197470,-0.673429,-0.201868,-0.549948,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

## Datetime encoding

In [88]:
df_encoded_scaled['Order Date'] = pd.to_datetime(df['Order Date'])
df_encoded_scaled['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [89]:
df_encoded_scaled['order_year'] = df_encoded_scaled['Order Date'].dt.year
df_encoded_scaled['order_month'] = df_encoded_scaled['Order Date'].dt.month
df_encoded_scaled['order_day'] = df_encoded_scaled['Order Date'].dt.day
df_encoded_scaled['order_dayofweek'] = df_encoded_scaled['Order Date'].dt.dayofweek
df_encoded_scaled['order_quarter'] = df_encoded_scaled['Order Date'].dt.quarter
df_encoded_scaled['order_dayofyear'] = df_encoded_scaled['Order Date'].dt.dayofyear
df_encoded_scaled['order_weekofyear'] = df_encoded_scaled['Order Date'].dt.isocalendar().week
df_encoded_scaled['order_hour'] = df_encoded_scaled['Order Date'].dt.hour
df_encoded_scaled['order_minute'] = df_encoded_scaled['Order Date'].dt.minute
df_encoded_scaled['order_second'] = df_encoded_scaled['Order Date'].dt.second

df_encoded_scaled.drop(['Order Date'], axis=1, inplace=True)
df_encoded_scaled

,Unnamed: 0,Ship Date,Ship Mode,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Price,...,order_year,order_month,order_day,order_dayofweek,order_quarter,order_dayofyear,order_weekofyear,order_hour,order_minute,order_second
0,234,2012-04-01,0,2.990438,-0.642117,-0.673429,1.006289,8.953183,0,5.879120,...,2012,3,30,4,1,90,13,0,0,0
1,238,2014-12-26,0,3.874441,1.581116,-0.673429,3.384700,8.895208,1,1.642543,...,2014,12,23,1,4,357,52,0,0,0
2,239,2014-07-04,1,6.165302,1.136470,0.269444,1.612463,8.880952,1,3.422364,...,2014,7,4,4,3,185,27,0,0,0
3,240,2014-11-23,0,2.948701,-0.197470,-0.673429,2.642943,8.825115,0,3.636833,...,2014,11,21,4,4,325,47,0,0,0
4,241,2013-01-27,3,5.209868,0.247177,-0.673429,8.048805,8.802543,1,4.611799,...,2013,1,23,2,1,23,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,2014-06-19,1,-0.436886,0.691823,-0.673429,-0.178292,-0.549711,3,-0.561471,...,2014,6,19,3,2,170,25,0,0,0
50806,51286,2014-06-24,3,-0.620085,-1.086763,3.098064,-0.227278,-0.549711,3,-0.691205,...,2014,6,20,4,2,171,25,0,0,0
50807,51287,2013-12-02,1,-0.556400,-0.197470,-0.673429,-0.119519,-0.549711,1,-0.616971,...,2013,12,2,0,4,336,49,0,0,0
50808,51288,2012-02-22,3,-0.583261,-0.642117,-0.673429,-0.196629,-0.549948,3,-0.626462,...,2012,2,18,5,1,49,7,0,0,0
50809,51289,2012-05-26,2,-0.447426,-0.197470,-0.673429,-0.201868,-0.549948,1,-0.484720,...,2012,5,22,1,2,143,21,0,0,0

In [90]:
df_encoded_scaled['ship_year'] = df_encoded_scaled['Ship Date'].dt.year
df_encoded_scaled['ship_month'] = df_encoded_scaled['Ship Date'].dt.month
df_encoded_scaled['ship_day'] = df_encoded_scaled['Ship Date'].dt.day
df_encoded_scaled['ship_dayofweek'] = df_encoded_scaled['Ship Date'].dt.dayofweek
df_encoded_scaled['ship_quarter'] = df_encoded_scaled['Ship Date'].dt.quarter
df_encoded_scaled['ship_dayofyear'] = df_encoded_scaled['Ship Date'].dt.dayofyear
df_encoded_scaled['ship_weekofyear'] = df_encoded_scaled['Ship Date'].dt.isocalendar().week
df_encoded_scaled['ship_hour'] = df_encoded_scaled['Ship Date'].dt.hour
df_encoded_scaled['ship_minute'] = df_encoded_scaled['Ship Date'].dt.minute
df_encoded_scaled['ship_second'] = df_encoded_scaled['Ship Date'].dt.second

df_encoded_scaled.drop(['Ship Date'], axis=1, inplace=True)
df_encoded_scaled

,Unnamed: 0,Ship Mode,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Price,Avg_Sales_Category,...,ship_year,ship_month,ship_day,ship_dayofweek,ship_quarter,ship_dayofyear,ship_weekofyear,ship_hour,ship_minute,ship_second
0,234,0,2.990438,-0.642117,-0.673429,1.006289,8.953183,0,5.879120,1.414984,...,2012,4,1,6,2,92,13,0,0,0
1,238,0,3.874441,1.581116,-0.673429,3.384700,8.895208,1,1.642543,1.086817,...,2014,12,26,4,4,360,52,0,0,0
2,239,1,6.165302,1.136470,0.269444,1.612463,8.880952,1,3.422364,1.414984,...,2014,7,4,4,3,185,27,0,0,0
3,240,0,2.948701,-0.197470,-0.673429,2.642943,8.825115,0,3.636833,1.414984,...,2014,11,23,6,4,327,47,0,0,0
4,241,3,5.209868,0.247177,-0.673429,8.048805,8.802543,1,4.611799,1.086817,...,2013,1,27,6,1,27,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,1,-0.436886,0.691823,-0.673429,-0.178292,-0.549711,3,-0.561471,-0.789936,...,2014,6,19,3,2,170,25,0,0,0
50806,51286,3,-0.620085,-1.086763,3.098064,-0.227278,-0.549711,3,-0.691205,-0.789936,...,2014,6,24,1,2,175,26,0,0,0
50807,51287,1,-0.556400,-0.197470,-0.673429,-0.119519,-0.549711,1,-0.616971,-0.789936,...,2013,12,2,0,4,336,49,0,0,0
50808,51288,3,-0.583261,-0.642117,-0.673429,-0.196629,-0.549948,3,-0.626462,-0.789936,...,2012,2,22,2,1,53,8,0,0,0
50809,51289,2,-0.447426,-0.197470,-0.673429,-0.201868,-0.549948,1,-0.484720,-0.789936,...,2012,5,26,5,2,147,21,0,0,0

In [91]:
df_encoded_scaled # Финальный датафрейм

,Unnamed: 0,Ship Mode,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Price,Avg_Sales_Category,...,ship_year,ship_month,ship_day,ship_dayofweek,ship_quarter,ship_dayofyear,ship_weekofyear,ship_hour,ship_minute,ship_second
0,234,0,2.990438,-0.642117,-0.673429,1.006289,8.953183,0,5.879120,1.414984,...,2012,4,1,6,2,92,13,0,0,0
1,238,0,3.874441,1.581116,-0.673429,3.384700,8.895208,1,1.642543,1.086817,...,2014,12,26,4,4,360,52,0,0,0
2,239,1,6.165302,1.136470,0.269444,1.612463,8.880952,1,3.422364,1.414984,...,2014,7,4,4,3,185,27,0,0,0
3,240,0,2.948701,-0.197470,-0.673429,2.642943,8.825115,0,3.636833,1.414984,...,2014,11,23,6,4,327,47,0,0,0
4,241,3,5.209868,0.247177,-0.673429,8.048805,8.802543,1,4.611799,1.086817,...,2013,1,27,6,1,27,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50805,51285,1,-0.436886,0.691823,-0.673429,-0.178292,-0.549711,3,-0.561471,-0.789936,...,2014,6,19,3,2,170,25,0,0,0
50806,51286,3,-0.620085,-1.086763,3.098064,-0.227278,-0.549711,3,-0.691205,-0.789936,...,2014,6,24,1,2,175,26,0,0,0
50807,51287,1,-0.556400,-0.197470,-0.673429,-0.119519,-0.549711,1,-0.616971,-0.789936,...,2013,12,2,0,4,336,49,0,0,0
50808,51288,3,-0.583261,-0.642117,-0.673429,-0.196629,-0.549948,3,-0.626462,-0.789936,...,2012,2,22,2,1,53,8,0,0,0
50809,51289,2,-0.447426,-0.197470,-0.673429,-0.201868,-0.549948,1,-0.484720,-0.789936,...,2012,5,26,5,2,147,21,0,0,0

In [92]:
df_encoded_scaled.to_csv('encoded_scaled_df.csv')

In [93]:
df_encoded_scaled.sample(200).to_csv('encoded_scaled_df_sample.csv')